Repository SimonFlarup/Sensum-Bosted, pull requests merged in 2019-05, with the labels that each got.

#20 Improvements to GUI for 2. iteration
  src/GUI/DiaryMenuController.java
  src/GUI/EditDiaryMenuController.java
  src/GUI/ListViewInfo.java
  src/GUI/LogInMenu.fxml
  src/GUI/LogInMenuController.java
  src/GUI/MainMenu.fxml
  src/GUI/MainMenuController.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/Sensum_Bosted.java
Labels: GUI, enhancement

#26 Domain addition
  nbproject/project.properties
  src/sensum_bosted/DomainFacade.java
  src/sensum_bosted/PasswordHashing.java
  test/sensum_bosted/PasswordHashingTest.java
Labels: domain layer, enhancement

#28 Database
  nbproject/project.properties
  null365032537
  src/GUI/DiaryMenuController.java
  src/GUI/ListViewInfo.java
  src/GUI/MainMenuController.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/Diary.java
  src/sensum_bosted/DomainFacade.java
  src/sensum_bosted/Notation.java
  src/sensum_bosted/Patient.java
  src/sensum_bosted/Person.java
  src/sensum_bosted/User.java
  src/storage/CRUD.java
  src/storage/CRUDFacade.java
  src/storage/CRUDInterface.java
  src/storage/Fields.java
  src/storage/StorageFacade.java
  src/storage/StorageInterface.java
  src/storage/TEST.java
  src/storage/Tables.java
Labels: enhancement, persistence layer

#29 Notation history implementation and further GUI improvements
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  resources/images/diary.png
  resources/images/house.png
  src/GUI/CreatePatientMenu.fxml
  src/GUI/CreateUserMenu.fxml
  src/GUI/CreateUserMenuController.java
  src/GUI/DiaryMenu.fxml
  src/GUI/DiaryMenuController.java
  src/GUI/EditDiaryMenu.fxml
  src/GUI/EditDiaryMenuController.java
  src/GUI/ListViewInfo.java
  src/GUI/LogInMenu.fxml
  src/GUI/LogInMenuController.java
  src/GUI/MainMenu.fxml
  src/GUI/MainMenuController.java
  src/GUI/NotationHistoryWindow.fxml
  src/GUI/NotationHistoryWindowController.java
  src/GUI/PatientMenuController.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/DomainFacade.java
  src/sensum_bosted/Sensum_Bosted.java
Labels: GUI, enhancement

#27 Implementation of login and logout
  nbproject/build-impl.xml
  nbproject/genfiles.properties
  nbproject/project.properties
  nbproject/project.xml
  null365032537
  resources/images/diary.png
  resources/images/house.png
  src/GUI/CreatePatientMenu.fxml
  src/GUI/CreateUserMenu.fxml
  src/GUI/CreateUserMenuController.java
  src/GUI/DiaryMenu.fxml
  src/GUI/DiaryMenuController.java
  src/GUI/EditDiaryMenu.fxml
  src/GUI/EditDiaryMenuController.java
  src/GUI/ListViewInfo.java
  src/GUI/LogInMenu.fxml
  src/GUI/LogInMenuController.java
  src/GUI/MainMenu.fxml
  src/GUI/MainMenuController.java
  src/GUI/NotationHistoryWindow.fxml
  src/GUI/NotationHistoryWindowController.java
  src/GUI/PatientMenuController.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/DomainFacade.java
  src/sensum_bosted/DomainTest.java
  src/sensum_bosted/PasswordHashing.java
  src/sensum_bosted/PrintHandler.java
  src/sensum_bosted/Sensum_Bosted.java
  src/storage/CRUD.java
  src/storage/StorageFacade.java
  src/storage/TEST.java
  test/sensum_bosted/DomainFacadeTest.java
Labels: domain layer, enhancement
