Repository SimonFlarup/Sensum-Bosted, pull requests merged in 2019-04, with the labels that each got.

#5 GUI Implementation
  src/GUI/DiaryMenu.fxml
  src/GUI/DiaryMenuController.java
  src/GUI/EditDiaryMenu.fxml
  src/GUI/EditDiaryMenuController.java
  src/GUI/MainMenu.fxml
  src/GUI/MainMenuController.java
  src/GUI/PatientMenu.fxml
  src/GUI/PatientMenuController.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/FXMLDocument.fxml
  src/sensum_bosted/Sensum_Bosted.java
Labels: enhancement

#9 Implement GUI Logic
  src/.DS_Store
  src/GUI/CreatePatientMenu.fxml
  src/GUI/CreatePatientMenuController.java
  src/GUI/DiaryMenu.fxml
  src/GUI/DiaryMenuController.java
  src/GUI/EditDiaryMenu.fxml
  src/GUI/EditDiaryMenuController.java
  src/GUI/ListViewInfo.java
  src/GUI/MainMenu.fxml
  src/GUI/MainMenuController.java
  src/GUI/PatientMenu.fxml
  src/GUI/PatientMenuController.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/DomainFacade.java
  src/sensum_bosted/Notation.java
  src/sensum_bosted/Sensum_Bosted.java
  src/storage/CRUDFacade.java
  src/storage/StorageFacade.java
  src/storage/TEST.java
Labels: GUI, enhancement

#18 Implemented createNotation and createPatient
  src/GUI/CreatePatientMenuController.java
  src/GUI/DiaryMenuController.java
  src/GUI/ListViewInfo.java
  src/GUI/SensumInterface.java
  src/sensum_bosted/DomainFacade.java
  src/storage/TEST.java
Labels: domain layer
